*{
  margin:0;
  padding:0;
}

body{
  font-family:'georgia', serif;
  text-rendering: optimizeLegibility;
}

.button{
  border:1px solid #aaa;
  background:-webkit-linear-gradient(#fff, #eee);
  text-align:center;
  border-radius:2px;
  display:inline-block;
  padding:12px 54px;
  font-size:20px;
  font-weight:bold;
  text-decoration: none;
  color:#222;
}

.button:active{
  box-shadow:inset 0 2px 3px rgba(0,0,0,0.5);
}

#wrap{
  width:320px;
  height:480px;
  overflow:hidden;
  position:relative;
  border:1px solid #333;
  margin:15px;
}

#cart{
  position:absolute;
  background:#fff;
  top:0;
  left:0;
  width:100%;
  border-bottom:1px solid #aaa;
  z-index:10;
  box-shadow:0 0 8px rgba(0,0,0,0.15);
}

#cart .counter{
  font-size:11px;
  color:#999;
  padding:17px 0;
  display:block;
  text-align:center;
  float:left;
}

#cart h1{
  font-family:'Share Tech', sans-serif;
  font-size:23px;
  letter-spacing:1px;
  border-right:1px solid #ddd;
  margin-right:7px;
  display:inline-block;
  background:#fff;
  float:left;
}

#cart h1 a{
  display:block;
  padding:10px 20px;
  text-decoration: none;
  color:#222;
}

#content{
  position:relative;
  z-index:1;
  height:100%;
  background:#fff url(images/linedpaper.png) left top repeat;
}

#controls{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background:#fff url(images/gray_jean.png) left top repeat;
  border-top:1px solid #aaa;
  z-index:10;
  padding:10px 0;
  text-align:center;
  box-shadow:0 0 3px rgba(0,0,0,0.25);
  font-family:'Share Tech', sans-serif;
}

#controls .button{
  margin:0 5px;
  font-weight:bold;
  font-size:26px;
  width:36px;
}

#questions {
}

#actions {
}

.no-button {
  background:-webkit-linear-gradient(#f56534, #c85230);
  border:1px solid #8f361f;
  text-shadow:0 1px 1px #000;
  color:#fff;
}

.yes-button {
  background:-webkit-linear-gradient(#9ac138, #83a342);
  color:#fff;
  border:1px solid #5d742c;
  text-shadow:0 1px 1px #000;
}

.question {
  font-size:22px;
  line-height:25px;
  position:absolute;
  top:113px;
  margin:0 30px;
  font-family:'georgia', serif;
}

.question ul{
  margin:26px 0 0 35px;
}

.question li{
  margin-bottom:24px;
  font-size:20px;
  line-height:25px;
}

.action-text {
}

.action-url {
}

<<<<<<< HEAD


=======
@font-face {
  font-family: 'Share Tech';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech'), local('ShareTech-Regular'), url(sharetech.ttf) format('truetype');
}
>>>>>>> 39d8e23be9c710c155decaadcc4cb2e39f0ac473
