.questions {
  height: 200px;
  width: 400px;
  background-color: #ddd;
}

.actions {
  height: 200px;
  width: 400px;
}

.no-button {
  color: red;
}

.yes-button {
  color: green;
}

.question {
  color: blue
}

.action-text {
  color: magenta;
}

.action-url {
  color: cyan;
}
